* {
    margin: 0;
    padding: 1;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto Condensed', sans-serif;
}

body {
    background-image: url(https://www.reviewgeek.com/p/uploads/2020/10/c0e777da.png?width=1200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: .2s ease;
}

/* NAVIGATION BAR */
.fContainer {
    background-color: #FFE6F7;
    width: 100%;
    height: 60px;
    box-shadow: 0px 3px 3px 0px rgb(69, 75, 82);
    margin: 5px 0px 30px 0px;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}

nav {
    display: flex;
    height: 60px;
    justify-content: space-around;
    align-items: center;
    left: 30px;
    padding-right: 3px;
}

.logo {
    height: 50px;
    margin-left: 10px;
}

.logo a img {
    margin-top: -5px;
    left: 2px;
    width: 120px;
    /* background-color: #937DC2; */
    border-radius: 5px;
}

.menu {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    margin-left: 150px;
}

.menu li a {
    display: flex;
    color: #937DC2;
    align-items: center;
    text-decoration: none;
    padding: 20px;
}

.menu li a:hover {
    color: #FFABE1;
}

.cari {
    display: flex;
    justify-content: space-between;
    margin-left: 55px;
    margin-right: -20px;
}

.search {
    padding:8px 15px;
    background: #937dc2d1;
    border:0px solid #FFABE1;
    font-style: italic;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search:hover {
  background: #937dc29c;
}

.button {
    position:relative;
    padding:6px 10px;
    left:-20px;
    border:2px solid #937dc2d1;
    background-color:#FFE6F7;
    border-radius: 20px;
    color: #937DC2;
}

.button:hover  {
    color: #FFABE1;
}

::placeholder { 
    color:    #fdccec;
}

.user {
    margin: -60px;
}

.user a img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
    border-radius: 40px;
}

.mode {
    display: flex;
    flex-direction: row;
    width: fit-content;
    margin-right: 5px;
}
.mode li {
    font-size: 15px;
    color: #937DC2;
    padding-top: 3px;
    padding-right: 10px;
}
.mode input {
    position: relative;
    width: 20px;
    height: 40px;
    appearance: none;
    background-color: #ffffff;
    outline: none;
    border-radius: 10px;
    transition: .2s ease;
    border:1px solid #937DC2;
    cursor: pointer;
}
.mode input:checked {
    background-color: #937DC2;
}
.mode input::before {
    content: '';
    position: absolute;
    width: 17px;
    height: 17px;
    background-color: #533483;
    border-radius: 50%;
    top: 1.7px;
    left: 1px;
    transition: .2s ease;
}
.mode input:checked::before {
    transform: translateY(19px);
}
/* NAVIGATION BAR END */

/* MAIN CONTENT */
.main-content {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(52, 147, 147, 0.711); */
    width: 100%;
    margin: 0px;
    padding-bottom: 30px;
}

.content-1 {
    background-color: #ffe6f7c8;
    margin: -1px 30px;
    padding: 30px;
    height: 800px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 0px rgb(69, 75, 82);
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 60px 250px;
    border-color: #937DC2;
    border-style: dashed;
    border-radius: 10px;
}

.a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a li { 
    font-size: 80px;
    color: #937DC2;
    text-shadow: #937DC2;
    font-family: 'splash', cursive;
    margin-right: 20px;
}

.a li img {
    margin-top: 15px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px #937DC2;
}

.b {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    padding: 0px 20px 20px 20px;
    font-size: 20px;
    color: #937DC2;     
}

.bio {
    padding-top: 20px;
    padding-right: 20px;
}
/* CONTENT END */

/* FOOTER */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 0px;
    padding-bottom: 10px;
    color: #937DC2;
    background-color: #FFE6F7;
    box-shadow: 0px 0px 0px 1px rgb(69, 75, 82);
    width: 100%;
    height: 150px;
    line-height: 20px;
}

.footer>p {
    padding-top: 15px;
    font-size: 20px;
}

.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-icons>a>img {
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:15px 10px;
    background-color: #937DC2;
    border-radius:50%;
}

.social-icons a img:hover {
    width:40px;
    height:40px;
    opacity: 2;
}

.foot {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 12px;
    line-height: 20px;
}

/* DARK MODE */
body.dark{
    background-image: url(https://www.bzi.ro/wp-content/uploads/2021/12/cartigratis.png);
    transition: all 0.3s ease;
}
.dark .fContainer {
    background-color: #533483;
    box-shadow: 0px 2px 2px 0px #FFE6F7;
}
.dark .menu li a {
    color: #FFE6F7;
}
.dark .menu li a:hover {
    color: #FFABE1;
}
.dark .search {
    background: #ffe6f7c0;
}
.dark .search:hover {
    background: #ffe6f7a4;
  }
.dark .button {
    border:2px solid #ffe6f7cc;
    color: #FFE6F7;
    background-color: #533483;
}
.dark .button:hover  {
    color: #FFABE1;
}
.dark ::placeholder { 
    color:    #543483d7;
}
.dark .content-1 {
    background-color: #543483d7;
    box-shadow: 0px 2px 2px 0px #FFE6F7;
    border-color: #FFE6F7;
}
.dark .content {
    border-color: #FFE6F7;
}
.dark .a li {
    color: #FFE6F7;
}
.dark .b {
    color: #FFE6F7;
}
.dark .footer {
    color: #FFE6F7;
    background-color: #533483;
}
.dark .social-icons>a>img {
    background-color: #FFE6F7;
}